.chat {
    height: 100vh;
    background: #36393f;
    animation: page 0.5s ease forwards;
    &__container {
        section {
            display: grid;
            grid-template-columns: minmax(400px, 1fr) 240px;
        }
    }
    main {
        height: calc(100vh - 45px - 48px - 10px - 40px);
        word-wrap: break-word;
        padding: 0 20px;
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        align-content: flex-start;
        align-items: flex-end;
    }
    &__form {
        position: relative;
        > h1 {
            position: absolute;
            left: 23px;
            top: -10px;
            font-size: 16px;
            color: #fff;
            font-weight: 400;
        }
        padding: 20px;
        background: #36393f;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        div {
            height: 45px;
            background: #4c5058;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            padding: 5px;
            color: #a4a5a7;
            cursor: pointer;
            div {
                cursor: pointer;
                
                svg, input {
                    cursor: pointer;
                }
            }
            &:hover {
                color: #c7c7c9;
            }
        }
        input {
            background: #4c5058;
            width: 100%;
            height: 45px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border: none;
            transition: s ease;
            padding: 10px;
            color: #fff;
            font-size: 16.5px;
            outline: none;
            &::placeholder {
                font-size: 15.5px;
                letter-spacing: 0.5px;
                font-weight: 400;
                opacity: 0.7;
            }
        }
    }
    &__header {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 18px;
        border-bottom: 0.1px solid #000;
        background: #36393f;
        svg {
            color: #72767d;
        }
        h3 {
            margin-left: 10px;
            color: #fff;
            text-transform: lowercase;
            font-weight: 400;
        }
    }
}