@import './fonts.scss';
@import './panel.scss';
@import './popups.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

::-webkit-scrollbar {
    width: 9px; 
    height: 9px;
    background: #4a4e55;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #1d1d1d;
    border-radius: 30px;
    height: 50px;
}