.message {
    margin-top: 15px;
    &-row {
        display: flex;
    }
    &-picture {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    &-data {
        margin-left: 15px;
        div {
            color: #fff;
            font-weight: 400;
        } 
        img {
            width: 150px;
            height: 300px;
            object-fit: cover;
        }
        p {
            word-break: break-all;
            margin-top: 5px;
            color: rgb(214, 210, 210);
        }
    }
}